@import "normalize.css";
@import "reset.css";
@import 'weather-icon.css';
@import '_media-query.scss';



html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #4553f8, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    width: 100%;
    padding: 2vh;
    font-size: 2rem;
    height: 3rem;
    line-height: 3rem;
    position: relative;
    // background-color: #fff;
    &__menu {
        position: absolute;
        left: 20px;
        top: 20px;
        height: 2.5rem;
        width: 2.5rem;
        background: url(../img/menu.svg);
        background-size: contain;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }
}

.card {
    border-radius: 7px;
    width: 80vw;
    max-width: 980px;
    min-width: 375px;
    height: 70vh;
    min-height: 37rem;
    margin: 7vh auto;
    // margin: 12vh 0;
    padding: 1rem;
    background-color: #000;
    box-shadow: 3px 3px 7px 5px rgba($color: #000000, $alpha: 0.2);
    // background: url(../img/bg-sea2.png) no-repeat;
    // background-size: cover;
    background-color: rgba($color: #000000, $alpha: 0.4);

    @include MQ(L) {
        width: 90vw;
        height: 120vh;
    }
    @include MQ(S) {
        width: 100vw;
    }
    &__top {
        position: relative;
        width: 100%;
        height: 47%;
        max-height: 40vh;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        background-size: 90%;
        background-position: center;
        border-bottom: 2px solid #fff;
        text-transform: uppercase;
        color: #fff;
        // background-color: rgba($color: #fff, $alpha: 0.3);
        @include MQ(L) {
            height: 30%;
        }
        &-left {
            width: 40%;
            height: 70%;
            position: absolute;
            top: 10%;
            left: 2%;
            text-align: center;
            letter-spacing: 0.2rem;
            @include MQ(M){
                left: 5%;
                width: 55%;
            }
        }
        .city {
            &__name {
                position: absolute;
                top: 15%;
                left: 70%;
                font-size: 1.5rem;
                letter-spacing: 3px;
                color: #fff;
                &::after {
                    content: "";
                    position: absolute;
                    left: 20%;
                    bottom: -10px;
                    width: 60%;
                    height: 2px;
                    background-color: #fff;
                }
                @include MQ(M){
                    left:65%;
                    font-size: 1.3rem;
                    letter-spacing: 3px;
                }
            }
            &__temperature {
                font-size: 5rem;
                margin: 5px auto;
                text-align: center;
                &::after {
                    content: "";
                    position: absolute;
                    right: 20%;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    border: 4px solid #fff;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                }
            }
            &__weather {
                font-size: 1.4rem;
            }
            &__humidity-wind {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10%;
                font-size: 0.8rem;
            }
            &__humidity {
                border-right: 2px solid #fff;
                flex-grow: 1;
                &-value {
                    margin-top: 1rem;
                    display: block;
                    font-size: 1.2rem;
                }
            }
            &__wind {
                flex-grow: 1;
                &-value {
                    margin-top: 1rem;
                    display: block;
                    font-size: 1.2rem;
                }
            }
        }
    }
    &__bottom {
        display: flex;
        width: 100%;
        height: 53%;
        color: #fff;
        // background-color: rgba($color: #000000, $alpha: 0.5);
        @include MQ(L) {
            flex-direction: column-reverse;
            height: 75vh;
        }
    }
    &__bottom-left {
        height: 100%;
        flex: 2;
        position: relative;
        padding-top: 3%;
        display: flex;
        flex-direction: column;
        .twitter {
            &__head {
                display: flex;
                @include MQ(L) {
                    justify-content: center;
                }
            }
            &__headline {
                position: relative;
                font-size: 1.3rem;
                padding-top: 5px;
                padding-left: 60px;
                padding-right: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    top: -3px;
                    left: 10px;
                    width: 2.5rem;
                    height: 2.5rem;
                    background: url(../img/twitter.svg);
                    background-size: contain;
                }
            }
            &__weather-topic {
                font-size: 0.8rem;
                margin-top: 10px;

            }
            &__list {
                width: 100%;
                height: 80%;
                // background-color: #fff;
            }
            &__next {
                width: 100%;
                display:flex;
                justify-content: center;
                align-items: center;
                &-button {
                    position: relative;
                    height: 20px;
                    border: none;
                    background-color: transparent;
                    color:#fff;
                    font-size: 1rem;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 2px;
                        right: -20px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0.5rem;
                        border-color: transparent transparent transparent #ee7752;
                        font-size: 0;
                        line-height: 0;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        &::after {
            content: '';
            position: absolute;
            left: 95%;
            top:10%;
            width: 3px;
            height: 80%;
            background-color:#fff;
            @include MQ(L){
                display: none;
            }
        }
    }
    &__bottom-right {
        flex: 3;
        display: flex;
        justify-content: space-evenly;
        text-transform: uppercase;
        @include MQ(L) {
            margin-top: 30px;
        }
        .weather {
            &__item {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &__weekday {
                font-size: 1.3rem;
            }
            &__icon {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 50%;
                // background: #23b7e5;
                border-radius: 8px;
                // @include MQ(L) {
                //     padding: 20px 0;
                // }
            }
            &__celsius {
                position: relative;
                font-size: 1.8rem;
                text-align: center;
                &::before {
                    content:'';
                    position: absolute;
                    left: 110%;
                    top:-15%;
                    width: 0.6rem;
                    height: 0.6rem;
                    border: 2px solid #fff;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                }
            }
            &__description {
                margin-top: 1rem;
                font-size: 1rem;
                letter-spacing: 0.1rem;
                text-align: center;
            }
        }
    }
}
